<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerImg</key>
		<string>yingmu</string>
		<key>name</key>
		<string>樱木花道</string>
		<key>title</key>
		<string>自称天才！</string>
	</dict>
	<dict>
		<key>headerImg</key>
		<string>charater_chimu</string>
		<key>name</key>
		<string>赤木刚宪</string>
		<key>title</key>
		<string>称霸全国！</string>
	</dict>
	<dict>
		<key>headerImg</key>
		<string>charater_liuchuan</string>
		<key>name</key>
		<string>流川枫</string>
		<key>title</key>
		<string>睡觉</string>
	</dict>
	<dict>
		<key>headerImg</key>
		<string>charater_qingzi</string>
		<key>name</key>
		<string>赤木晴子</string>
		<key>title</key>
		<string>大天才！樱木花道！</string>
	</dict>
	<dict>
		<key>headerImg</key>
		<string>charater_sanjing</string>
		<key>name</key>
		<string>三井寿</string>
		<key>title</key>
		<string>我想打篮球</string>
	</dict>
	<dict>
		<key>headerImg</key>
		<string>charater_mumu</string>
		<key>name</key>
		<string>木暮公延</string>
		<key>title</key>
		<string>今年就是高中最后的夏天</string>
	</dict>
	<dict>
		<key>headerImg</key>
		<string>charater_caizi</string>
		<key>name</key>
		<string>彩子</string>
		<key>title</key>
		<string>我是篮球社的经理，彩子！</string>
	</dict>
	<dict>
		<key>headerImg</key>
		<string>charater_gongcheng</string>
		<key>name</key>
		<string>宫城良田</string>
		<key>title</key>
		<string>电光火石，深爱着彩子。</string>
	</dict>
	<dict>
		<key>headerImg</key>
		<string>charater_yangping</string>
		<key>name</key>
		<string>水户洋平</string>
		<key>title</key>
		<string>我们是樱木军团，小罗罗是不够看的。</string>
	</dict>
</array>
</plist>
