<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>SHOHOKU</string>
		<key>img</key>
		<string>shohoku_black_white</string>
		<key>contents</key>
		<string>        湘北高等学校（しょうほくこうとうがっこう）是漫画・灌篮高手（slam dunk）里虚构的高中。所在位置为神奈川县。是一所县立的高中。SLAM DUNK中的主人公・樱木花道、流川枫、赤木刚宪、宫城良田、三井寿等人都就读于此校。湘北高中原来是以东京都立武藏野北高等学校为原形的。
        湘南地区的学校有神奈川县立高校湘南高中、藤泽北高等学校（现在已停办）、茅ヶ崎北陵高校等。
        主要学生
注：姓名前的数字为篮球队中的号码，以下所列号码以《灌篮高手》主要剧情（樱木花道、流川枫上高一的年份）为准，黑体字为主力队员。
4.赤木刚宪　5.木暮公延　6.安田靖春 　7.宫城良田　8.潮崎哲士 　9.角田悟 　10.樱木花道　11.流川枫　12.石井健太郎 　13.佐佐冈智 　14.三井寿　15.桑田登纪
与本作相关其他角色：井上彩子（篮球部经理） 赤木晴子 水户洋平 高宫望 大楠雄二 野间忠一郎 堀田德男 　青田龙彦　河合マリ 　藤井 　松井。</string>
	</dict>
</array>
</plist>
